<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="people-nearby">
              
              <div class="nearby-user">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <img src="assets/Template/assets/images/AI.jpg" alt="user" class="profile-photo-lg">
                  </div>
                  <div class="col-md-7 col-sm-7">
                    <h5><a href="#" class="profile-link">Intelligence Artificielle</a></h5>
                    <p>350DT/Month</p>
                  
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <button class="btn btn-danger pull-right">Delete</button>

                  </div>
                </div>
              </div>
              <div class="nearby-user">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <img src="assets/Template/assets/images/BI.jpg" alt="user" class="profile-photo-lg">
                  </div>
                  <div class="col-md-7 col-sm-7">
                    <h5><a href="#" class="profile-link">Business Intelligence</a></h5>
                    <p class="text-muted">350DT/Month</p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <button class="btn btn-danger pull-right">Delete</button>
                  </div>
                </div>
              </div>
              <div class="nearby-user">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <img src="assets/Template/assets/images/DEVOPS.png" alt="user" class="profile-photo-lg">
                  </div>
                  <div class="col-md-7 col-sm-7">
                    <h5><a href="#" class="profile-link">Devops</a></h5>
                    <p>350DT/Month</p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <button class="btn btn-danger pull-right">Delete</button>
                  </div>
                </div>
              </div>
              <div class="nearby-user">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <img src="assets/Template/assets/images/Flutter-Firebase.png" alt="user" class="profile-photo-lg">
                  </div>
                  <div class="col-md-7 col-sm-7">
                    <h5><a href="#" class="profile-link">Flutter/Firebase</a></h5>
                    <p>350DT/Month</p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <button class="btn btn-danger pull-right">Delete</button>
                  </div>
                </div>
              </div>
              